In [1]:
# Configurating related to Cassandra connector & Cluster
import os
os.environ['PYSPARK_SUBMIT_ARGS'] = '--packages com.datastax.spark:spark-cassandra-connector_2.12:3.1.0 --conf spark.cassandra.connection.host=127.0.0.1 pyspark-shell'

In [2]:
# Creating PySpark Context
from pyspark import SparkContext
sc = SparkContext("local", "integration")

In [3]:
# Creating PySpark SQL Context
from pyspark.sql import SQLContext
sqlContext = SQLContext(sc)

C:\Users\LENOVO\anaconda3\Lib\site-packages\pyspark\sql\context.py:113: FutureWarning: Deprecated in 3.0.0. Use SparkSession.builder.getOrCreate() instead.
  warnings.warn(

# read data from cassandra

In [4]:
# Loads and returns data frame for a table including key space given

empDf = sqlContext.read.format("org.apache.spark.sql.cassandra").options(table="emp", keyspace="empinfo").load()

In [5]:
empDf.show()

+------+---------+--------+----------+-------+
|emp_id| emp_city|emp_name| emp_phone|emp_sal|
+------+---------+--------+----------+-------+
|     4|Hyderabad|  nikhil|9848022299|  45000|
|     2|Hyderabad|   robin|9848022339|  40000|
|     3|Hyderabad|    amit|9848327338|  25000|
|     1|Hyderabad|     ram|7348027338|  50000|
|     5|Hyderabad|    uday|9848917338|  35000|
|     6|Hyderabad|  deepak|9038022339|  20000|
+------+---------+--------+----------+-------+

In [6]:
#apply filter function on dataframe
empDf1 = empDf.select("emp_id","emp_city","emp_name","emp_phone","emp_sal").filter("emp_sal > 20000")

In [8]:
empDf1.show()

+------+---------+--------+----------+-------+
|emp_id| emp_city|emp_name| emp_phone|emp_sal|
+------+---------+--------+----------+-------+
|     4|Hyderabad|  nikhil|9848022299|  45000|
|     2|Hyderabad|   robin|9848022339|  40000|
|     3|Hyderabad|    amit|9848327338|  25000|
|     1|Hyderabad|     ram|7348027338|  50000|
|     5|Hyderabad|    uday|9848917338|  35000|
+------+---------+--------+----------+-------+

In [9]:
#create spark session object
from pyspark.sql import SparkSession
spark = SparkSession.builder \
    .master("local").appName("PySpark_cassandra").getOrCreate()

In [10]:
from pyspark.sql.functions import col

# write dataframe into cassandra

# Note before writing data into cassandra create table in cassandra where we write data

In [12]:
empDf1.write.format("org.apache.spark.sql.cassandra").options(table="emp", keyspace="empinfo").mode("append").save()

In [13]:
#creating a sparksession object and providing appName 
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName("cassandra").getOrCreate()

In [17]:
empDf2 = spark.read.format("org.apache.spark.sql.cassandra").options(table="emp", keyspace="empinfo").load()

In [18]:
empDf2.show()

+------+---------+--------+----------+-------+
|emp_id| emp_city|emp_name| emp_phone|emp_sal|
+------+---------+--------+----------+-------+
|     4|Hyderabad|  nikhil|9848022299|  45000|
|     2|Hyderabad|   robin|9848022339|  40000|
|     3|Hyderabad|    amit|9848327338|  25000|
|     1|Hyderabad|     ram|7348027338|  50000|
|     5|Hyderabad|    uday|9848917338|  35000|
|     6|Hyderabad|  deepak|9038022339|  20000|
+------+---------+--------+----------+-------+

In [19]:
empDf1.write.csv('mycsv.csv')